
<div class="row">
  <div class="col-md-4">
    <%= image_tag @album.album_image.url(:album_show), class: "album-show" %>
  </div>
  <div class="col-md-8">
    <div class="album-info">
      <h2 class="album-title"><%= @album.title %></h2>
      <h3 class"album-author"><span>From </span><%= @album.artist %></h3>
      <p><%= @album.category.name %></p>
      <h3 class="average-review-rating">Average Rating</h3>
      <div class="average-review-rating" data-score="<%= @average_review %>">
      </div>
      <span class="number-of-reviews">Based on <%= @album.reviews.count %> reviews</span>
      <p class="album-desc"><%= @album.description %></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="reviews">
      <h1>Reviews</h1>
        <%= render @album.reviews %>
        <div>
          <%= link_to "Add a Review", new_album_review_path(@album), class: "btn btn-custom"  %>
        </div>
    </div>
  </div>
</div>

<div class="links btn-group">
  <% if user_signed_in? %>
    <% if @album.user_id == current_user.id %>
      <%= link_to "Update Album", edit_album_path(@album), class: "btn btn-custom" %><br>
      <%= link_to "Delete Album", album_path(@album), class: "btn btn-custom", method: :delete, data: {confirm: "Are you sure?"} %><br>
    <% end %>
  <% end %>
</div>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>
